/* Custom Properties 
----------------------------------------------*/
:root{
  --shadow-grey: #2f2e38ff;
  --dust-grey: #e2dadbff;
  --royal-plum: #762e66ff;
  --petal-pink: #b979abff;
  --cream: #f7fccfff;
  --color-dark: var(--shadow-grey);
  --color-light: var(--cream);
  --accent-color: var(--royal-plum);
}

/* Global Styles 
----------------------------------------------*/
html{
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}
html,body{
  height: 100%;
}
body{
  margin: 0;
  padding: 0;
}


a{
  color: var(--color-dark);
}
h1, h2, h3, h4{
  margin: 0;
  padding: 0;
}
.color-dark a, .color-primary a{
  color: var(--color-light);
}
.color-dark{
  background-color: var(--color-dark);
  color: var(--color-light);
}
.color-light{
  background-color: var(--color-light);
  color: var(--color-dark);
}
.color-primary{
  background-color: var(--accent-color);
  color: var(--color-light);
}
.list-reset{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.content-wrap{
  margin: 0 auto;
  max-width: 800px;
  padding: 30px;
}

/* Header + Nav 
----------------------------------------------*/
header{
  height: 80%;
  background-image: linear-gradient(rgb(118 46 102 / 0.5), 
                                    rgb(118 46 102 / 0.5)), 
                    url(../../images/bg-downtown-toronto.jpg);
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  color: var(--color-light);
}

.nav-list{
  display: flex;
  justify-content: center;
}

.nav-list a{
  padding: 20px;   /* this padding space also a part of clickable area !!! */
  display: inline-block; /* to get the top and bottom padding */
}

/* About 
----------------------------------------------*/


/* Projects 
----------------------------------------------*/
.project-item{
  border: 1px solid var(--accent-color);
  padding: 20px;
  margin-bottom: 10px;
}

/* Resume 
----------------------------------------------*/


/* Footer 
----------------------------------------------*/
footer{
  padding: 60px;
  text-align: center;
}
.socials-list{
  display: flex;
  justify-content: center;
}
.socials-list img{
  width: 35px;
  margin: 15px;
}